    <h1>Hey, Footballer! You Can Sign Up Here!</h1>
      <form class="container_1" method="post" action="/signup">

      <label for="email"> Email: </label>
      <input type="text" id="email" name="email">

      <label for="username"> Username: </label>
      <input type="text" id="username" name="username">

      <label for="password"> password: </label>
      <input type="password" id="password" name="password">

      <label for="password_confirm"> confirm password: </label>
      <input type="password" id="password_confirm" name="password_confirm">

      <input type="submit" value="Create Footballer Account" id="submit">
    </form>
