<!DOCTYPE html>
<html>
  <head>
    <title> Show Player </title>
  </head>
  <body>

    <h2> <%= @player.name %> Overview </h2>

    <ul>
      <li> <%= @player.team %> </li>
      <li> <%= @player.position %> </li>
    </ul>

  </body>
</html>
