<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <script type="text/javascript" src="/javascripts/main.js"></script>

    <title>Fantasy Football Center</title>
  </head>

  <body>

    <header class="main_header">

      <div class="container_1">
        <img src="/images/fantasy_football_logo.png" alt="logo" class="logo">

        <nav>
          <ul class="main_navbar">
            <li id="main_navbar_li"><a href="/">Home</a></li>
            <% if logged_in? %>
              <% @user = current_user%>
              <li id ="main_navbar_li"><a href="/users/<%=@user.slug%>"> My Team </a> </li>
              <li id ="main_navbar_li"><a href="/logout"> Logout </a></li>
            <% else %>
              <li id="main_navbar_li"><a href="/users/login">Log In</a></li>
              <li id="main_navbar_li"><a href="/users/signup">Sign Up</a></li>
            <%end%>
          </ul>
        </nav>

      </div>
    </header>

    <%= yield %>

  </body>

  <footer class ="footer_main">
    <p>Created by Juggernaut Group</p>
    <p>Contact information: <a href="mailto:someone@example.com">
    juggernaut@example.com</a>.</p>
    <p> NY,NY </p>
  </footer>

</html>
